{% extends 'base.html.twig'  %}

{% form_theme formArt 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Créer un article :</h1>

    {{ form_start(formArt) }}

    {{ form_row(formArt.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArt.category) }}
    {{ form_row(formArt.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
    {{ form_row(formArt.image, {'attr': {'placeholder': "Image de l'article"}}) }}

    <button type="submit" class="btn btn-success" style="margin-top: 10px">
        {% if editMode %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(formArt) }}



{% endblock %}