{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    {%  for article in articles %}
    <section class="article">
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit par Moi le {{ article.createdAt | date('d-m-Y') }}</div>
            <div class="content"><img src="{{ article.image }}" alt="">

                {{ article.content | raw }}

                <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">lire la suite</a>
            </div>
        </article>
    </section>
    {% endfor %}
{% endblock %}
